body {
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  text-transform: uppercase;
}
.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag img {
  width: 450px;
  position: relative;
  padding-left: 15%;
}
.left-sdie {
  width: 50%;
}
.details {
  padding: 10px 50px;
  border-radius: 5px;
  background-image: linear-gradient(45deg, green, red, green);
  font-size: 16px;
  font-weight: 500;
  color: black;
  border: none;
  margin-top: 15px;
}
.details:hover{
  color: white;
}
.division {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 100px;
}
.division img{
  height: 200px;
  width: 300px;
}
.dhaka {
  width: 350px;
  border: 1px solid gray
  border-radius: 5px;
  box-shadow: 5px 5px 30px gray;
}
.photo img {
  width: 100%;
}
.second-section {
  padding: 10px;
}
.all-divisions {
  display: flex;
  justify-content: space-around;
}
.description {
  text-align: left;
}
.div-btn {
  padding: 10px 30px;
  border: none;
  background-color: green;
  color: black;
  font: 16px;
}
.div-btn:hover{
  color: white;
}
.footer-content {
  margin-top: 50px;
}
.footer-content {
  text-align: center;
}
